
/* 스크린 좌석 css */
.screentext {
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
}
/* 테이블 */
.seat {
  display: flex;
  justify-content: center;
  align-items: center;
}
table {
  /* tr과 td 사이 간격조정 */
  border-collapse: separate;
  border-spacing: 0px 2px;
}
.seattable td {
  width: 30px;
  height: 30px;
  margin: 10px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  background-color: rgb(116, 116, 116);
  color: white;
  cursor: pointer;
  border: 1px solid rgb(94, 221, 235);
}
/* .seattable td.active{
  background-image: url('./images/bg-seat-condition-choice.png');
} */
.seattable td:first-child {
  border: none;
  background-color: transparent;
  font-weight: 400;
  color: black;
  padding-right: 40px;
  font-size: 20px;
}
.seattable tr {
  margin: 10px 0;
}